version: '3.8'
services:
  spark:
    image: apache/spark:3.5.0
    container_name: spark
    user: root
    environment:
      - SPARK_NO_DAEMONIZE=true
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./:/app
    command: /bin/bash -c "while true; do sleep 30; done;"

volumes:
  data:
